<c-modal size="lg" alignment="center" [scrollable]="true" [visible]="open" (visibleChange)="visibleChange($event)">

  <c-modal-header>
    <h5 cModalTitle>
      <iconify size="lg" icon="cil:bolt"/>
      {{Translations.add.activity | translation}}
    </h5>
    <button (click)="visibleChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-activity-form *ngIf="open" [newActivity]="newActivity" [submit]="submitForm" (onSubmitForm)="onSubmitForm($event)"  />
  </c-modal-body>
  <c-modal-footer>
    <button (click)="visibleChange(false)" cButton color="secondary">
      {{Translations.Actions.close | translation | titlecase}}
    </button>
    <button cButton [disabled]="submitting" color="primary" (click)="onSubmit()"><iconify *ngIf="submitting" [rotating]="true" icon="tdesign:load"></iconify> {{Translations.Actions.add | translation | titlecase}}</button>
  </c-modal-footer>
</c-modal>
