<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="fixed-top text-end mx-5 mt-3">
      <app-select-language />
    </c-row>
    <c-row class="justify-content-center">
      <c-col md="10">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form #loginForm="ngForm"
                    cForm
                    [validated]="validated"
                    (ngSubmit)="onSubmit(loginForm)">
                <h1>{{Translations.login | translation}}</h1>
                <p class="text-medium-emphasis">{{Translations.loginToAccount | translation}}</p>
                <c-input-group class="mb-3 has-validation">
                  <span cInputGroupText>
                    <iconify [icon]="'mdi:user'"/>
                  </span>
                  <input
                    name="email"
                    ngModel
                    autoComplete="email"
                    cFormControl
                    email
                    type="email"
                    [placeholder]="Translations.email | translation | titlecase"
                    required
                  />
                  <c-form-feedback [valid]="false">{{Translations.inputErrors.email | translation}}</c-form-feedback>
                </c-input-group>
                <c-input-group class="mb-4 has-validation">
                  <span cInputGroupText>
                    <iconify [icon]="'mdi:lock'"/>
                  </span>
                  <input
                    name="password"
                    ngModel
                    autoComplete="current-password"
                    cFormControl
                    [placeholder]="Translations.password | translation | titlecase"
                    type="password"
                    minlength="6"
                    required
                  />
                  <c-form-feedback [valid]="false">{{Translations.inputErrors.password | translation}}</c-form-feedback>
                </c-input-group>
                <c-row *ngIf="error">
                  <c-col>
                    <c-alert class="py-2" color="danger">{{error}}</c-alert>
                  </c-col>
                </c-row>
                <c-row>
                  <c-col xs="6">
                    <button class="btn btn-primary px-4" type="submit">
                      {{Translations.login | translation}}
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button class="btn px-0 btn-link">
                      {{Translations.forgotPassword | translation}}
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>{{Translations.register | translation}}</h2>
                <p>
                  {{Translations.registerMessage | translation}}
                </p>
                <button class="btn mt-3 btn-secondary" routerLink="/auth/register">
                  {{Translations.register | translation}}
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
