<c-container>
  <div class="d-flex flex-row align-items-center justify-content-between mb-2">
    <h2 class="m-0">{{Translations.activity | translation | titlecase}}</h2>
  </div>

  <c-card *ngIf="activity && participants && applications; else loading">
    <c-card-body>
      <c-row>
        <c-col>
          <h5>{{Translations.basicInformation | translation}}</h5>
          <c-row>
            <c-col xs="auto"  class="me-5">

              <p class="m-0"><span class="fw-bolder">{{Translations.times.start | translation | titlecase}} | </span>{{activity.data.start | localizedDate:"medium"}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.times.end | translation | titlecase}} | </span>{{activity.data.end | localizedDate:"medium"}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.times.duration | translation}} | </span>{{getDuration()}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.anonymous | translation | titlecase}} | </span><app-boolean-icon [value]="activity.anonymous" /></p>
              <p class="m-0" *ngIf="activity.participantId"><span class="fw-bolder">{{Translations.participant | translation | titlecase}} | </span>{{getParticipant(activity.participantId).nickname}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.application | translation | titlecase}} | </span>{{getApplication(activity.applicationId).name}}</p>
            </c-col>
            <c-col xs>
              <p class="m-0 fw-bolder">{{Translations.notes | translation | titlecase}}</p>
              <p class="m-0 font-monospace small">{{activity.notes}}</p>
            </c-col>
          </c-row>

        </c-col>
      </c-row>
    </c-card-body>
  </c-card>

  <div class="d-flex flex-row align-items-center justify-content-between my-2">
    <h2 class="m-0">Graphs</h2>
  </div>

  <c-card class="mb-4">
    <c-card-body *ngIf="lineChartData">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        type="line"
      ></canvas>
    </c-card-body>
  </c-card>

  <c-card class="mb-4">
    <c-card-body *ngIf="lineChartPositionData">
      <canvas
        baseChart
        class="chart"
        [data]="lineChartPositionData"
        [options]="lineChartPositionOptions"
        type="line"
      ></canvas>
    </c-card-body>
  </c-card>


</c-container>


<ng-template #loading>
  <app-loading-placeholder />
</ng-template>
