<c-container fluid>
  <div class="d-flex flex-row align-items-center justify-content-between mb-2">
    <h2 class="m-0">{{Translations.activity | translation | titlecase}}</h2>
    <button class="btn btn-danger btn-sm" (click)="openConfirmModal()">
      <iconify icon="mdi:trash"/>
      {{Translations.Actions.delete | translation | titlecase}}</button>
  </div>

  <c-card *ngIf="activity; else loading">
    <c-card-body>
      <c-row class="flex-column">
        <c-col>
          <h5>{{Translations.basicInformation | translation}}</h5>
          <c-row>
            <c-col xs="auto" class="me-5">

              <p class="m-0"><span class="fw-bolder">{{Translations.times.start | translation | titlecase}}
                | </span>{{activity.data.start | localizedDate:"medium"}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.times.end | translation | titlecase}}
                | </span>{{activity.data.end | localizedDate:"medium"}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.times.duration | translation}} | </span>{{getDuration()}}</p>
              <p class="m-0"><span class="fw-bolder">{{Translations.anonymous | translation | titlecase}} | </span>
                <app-boolean-icon [value]="activity.anonymous"/>
              </p>
              <p class="m-0" *ngIf="activity.participantId"><span class="fw-bolder">{{Translations.participant | translation | titlecase}}
                | </span><button (click)="redirectToParticipant(activity.participantId)" class="btn btn-link m-0 p-0 border-0 align-baseline">{{participant?.nickname}}</button></p>
              <p class="m-0"><span class="fw-bolder">{{Translations.application | translation | titlecase}}
                | </span>{{application?.name}}</p>
            </c-col>
            <c-col xs class="d-flex flex-column">
              <app-description-detail class="d-flex flex-grow-1" [title]="Translations.notes | translation | titlecase" [value]="activity.notes"
                                      (changeValue)="onChangeNote($event)"/>
            </c-col>
          </c-row>

        </c-col>
        <c-col *ngIf="customData.length > 0" class="mt-3">
          <h5>{{Translations.customData | translation}}</h5>
          <p class="m-0" *ngFor="let data of customData"><span class="fw-bolder">{{data.title}}
            | </span>{{data.value}}</p>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>

  <div class="d-flex flex-row align-items-center justify-content-between my-2">
    <h2 class="m-0">{{Translations.statistics | translation | titlecase}}</h2>
  </div>

  <c-card class="mb-4" *ngIf="activity && selectedEnvironment !== null; else loading">
    <c-card-body>
      <c-row class="my-2">
        <c-col class="w-100">
          <h5>{{Translations.environment | translation | titlecase}}</h5>
          <select
            [(ngModel)]="selectedEnvironment"
            name="environments"
            (ngModelChange)="changeEnvironment()"
            required
            cSelect>
            <option *ngFor="let env of environments" [ngValue]="env">{{env}}</option>
          </select>
        </c-col>
      </c-row>
      <c-row>
        <c-col class="w-100">
          <ng-container *ngIf="environmentsRecords.length > 0; else noData">
            <app-records-statistics [records]="environmentsRecords"/>
          </ng-container>
          <ng-template #noData>
            <c-alert class="text-wrap" color="info">{{Translations.noEnvData | translation}}</c-alert>
          </ng-template>
        </c-col>
      </c-row>

      <c-row *ngIf="applicationModuleVersion" class="justify-content-center">
        <hr class="my-3">
        <ng-container *ngIf="showModule; else toggleModule">
          <app-application-module [application]="application" [moduleVersion]="applicationModuleVersion" [activityId]="activity.id" [environmentId]="selectedEnvironment" />
        </ng-container>
        <ng-template #toggleModule>
          <button class="btn btn-primary w-50" (click)="onToggleModule()">{{Translations.Actions.showModule | translation}}</button>
        </ng-template>
      </c-row>

      <c-container fluid *ngIf="environmentsRecords && environmentsRecords.length > 1 && application.setting.graphs">
        <c-row *ngFor="let graph of application.setting.graphs">
          <hr class="my-3">
          <app-rotation-chart
            *ngIf="graph.type === 'rotation' && graph.display === true"
            [part]="graph.part"
            [records]="environmentsRecords"
            [graphSetting]="graph"
            [appSetting]="application.setting"
          />

          <app-rotation-polar-chart
            *ngIf="graph.type === 'rotation-polar' && graph.display === true"
            [part]="graph.part"
            [records]="environmentsRecords"
            [axis]="graph.axis"
            [appSetting]="application.setting"
          />

          <app-position-chart
            *ngIf="graph.type === 'position' && graph.display === true"
            [part]="graph.part"
            [graphSetting]="graph"
            [records]="environmentsRecords"
            [appSetting]="application.setting"
          />

          <app-positional-differential-chart
            *ngIf="graph.type === 'position-differential' && graph.display === true"
            [part]="graph.part"
            [graphSetting]="graph"
            [records]="environmentsRecords"
            [appSetting]="application.setting"
          />

          <app-heatmap-chart
            *ngIf="graph.type === 'position-heatmap' && graph.display === true"
            [records]="environmentsRecords"
            [part]="graph.part"
            [graphSetting]="graph"
            [appSetting]="application.setting"
          />

        </c-row>
      </c-container>
    </c-card-body>
  </c-card>
</c-container>

<c-container fluid *ngIf="deleteModalOpen">
  <app-confirmation-modal
    [open]="deleteModalOpen"
    [title]="Translations.delete.activity | translation | titlecase"
    [message]="getDeleteMessage()"
    [confirmButtonText]="Translations.Actions.delete | translation | titlecase"
    (confirm)="deleteActivity()"
    (cancel)="closeConfirmModal()"
    [color]="'danger'"/>
</c-container>

<ng-template #loading>
  <app-loading-placeholder/>
</ng-template>
