<c-container>
  <div class="d-flex flex-row align-items-center justify-content-between mb-2">
    <h2 class="m-0">{{Translations.participant | translation | titlecase}}</h2>
    <button class="btn btn-light btn-sm" (click)="goToEdit()"><iconify icon="ic:round-edit" />{{Translations.Actions.edit | translation | titlecase}}</button>
  </div>
  <c-card *ngIf="participant; else loading">
    <c-card-body>
      <c-row>
        <c-col [xs]="2">
          <img class="img-fluid w-100 rounded" alt="Profile photo" cImg rounded [src]="getProfileImage()" />
        </c-col>
        <c-col [xs]="10">
          <h5>{{Translations.basicInformation | translation}}</h5>
          <c-row>
            <c-col xs="auto"  class="me-5">

              <p class="m-0"><span class="fw-bolder">{{Translations.nickname | translation | titlecase}} | </span>{{participant.nickname}}</p>
              <p class="m-0" *ngIf="participant.name"><span class="fw-bolder">{{Translations.name | translation | titlecase}} | </span>{{participant.name}}</p>
              <p class="m-0" *ngIf="participant.surname"><span class="fw-bolder">{{Translations.surname | translation | titlecase}} | </span>{{participant.surname}}</p>
              <p class="m-0" *ngIf="participant.birthday"><span class="fw-bolder">{{Translations.age | translation | titlecase}} | </span>{{getAge(participant.birthday)}}</p>
              <p class="m-0" *ngIf="participant.sex"><span class="fw-bolder">{{Translations.gender | translation | titlecase}} | </span><span class="text-capitalize">{{getTranslateSex(participant.sex)}}</span></p>
            </c-col>
            <c-col xs>
              <p class="m-0 fw-bolder">{{Translations.notes | translation | titlecase}}</p>
              <p class="m-0 font-monospace small">{{participant.description}}</p>
            </c-col>
          </c-row>

        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <div class="my-2">
    <h2 class="m-0">{{Translations.statistics | translation | titlecase}}</h2>
    <ng-container *ngIf="activities; else loading">
      <app-activities-statistics [activities]="activities"/>
    </ng-container>
  </div>

  <div class="my-2">
    <h2 class="m-0">{{Translations.activities | translation | titlecase}}</h2>
    <ng-container *ngIf="activities; else loading">
      <app-activity-table [activities]="activities" [showParticipant]="false"/>
    </ng-container>
  </div>
</c-container>

<ng-template #loading>
  <app-loading-placeholder />
</ng-template>
