<c-col xs class="d-flex flex-column">
  <p class="m-0 fw-bolder">{{title}}</p>
  <div class="border" #editorContainer>
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="value"
      (onInit)="editorInit($event)"
      (ngModelChange)="textChanged($event)"
    >
    </ngx-monaco-editor>
  </div>
  <ng-container *ngIf="edit == true">
    <div class="flex-row d-flex justify-content-between mt-1">
      <button class="btn btn-secondary btn-sm w-auto" (click)="cancelEdit()">{{Translations.Actions.cancel | translation | titlecase}}</button>
      <button class="btn btn-primary btn-sm w-auto" [disabled]="notValidJson" (click)="confirmEdit()">{{Translations.Actions.edit | translation | titlecase}}</button>
    </div>
  </ng-container>
</c-col>
