<form
  #newParticipantForm="ngForm"
  novalidate
  [validated]="validated"
  (ngSubmit)="onSubmit(newParticipantForm)"
  cForm>
  <label>{{Translations.nickname | translation | titlecase}}</label>
  <c-input-group class="mb-2 has-validation">
    <input
      required
      [ngModel]="newParticipant.nickname"
      name="nickname"
      type="text"
      cFormControl
      [placeholder]="Translations.nickname | translation | titlecase"
    />
    <c-form-feedback [valid]="false">{{Translations.inputErrors.nickname | translation}}</c-form-feedback>
  </c-input-group>
  <label>{{Translations.nameAndSurname | translation}} <span class="text-muted small">({{Translations.optional | translation | titlecase}})</span></label>
  <c-input-group class="mb-2">
    <input
      name="name"
      #name="ngModel"
      [ngModel]="newParticipant.name"
      cFormControl
      [placeholder]="Translations.name | translation | titlecase"
    />
    <input
      name="surname"
      #surname="ngModel"
      [ngModel]="newParticipant.surname"
      cFormControl
      [placeholder]="Translations.surname | translation | titlecase"
    />
  </c-input-group>
  <label>{{Translations.birthday | translation}} <span class="text-muted small">({{Translations.optional | translation | titlecase}})</span></label>
  <c-input-group class="mb-2 has-validation">
    <input
      minlength="6"
      [ngModel]="newParticipant.birthday"
      name="birthday"
      cFormControl
      [max]="getBirthdayMax()"
      type="date"/>
  </c-input-group>
  <label>{{Translations.gender | translation | titlecase}} <span class="text-muted small">({{Translations.optional | translation | titlecase}})</span></label>
  <c-input-group class="mb-2 has-validation">
    <select
      [ngModel]="newParticipant.sex"
      name="sex"
      cSelect>
      <option value="">None</option>
      <option value="men">Men</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </c-input-group>
  <label>{{Translations.notes | translation | titlecase}} <span class="text-muted small">({{Translations.optional | translation | titlecase}})</span></label>
  <c-input-group class="mb-2 has-validation">
        <textarea
          [ngModel]="newParticipant.description"
          name="description"
          cFormControl>
        </textarea>
  </c-input-group>
</form>
