<form
  #newParticipantForm="ngForm"
  novalidate
  [validated]="validated"
  (ngSubmit)="onSubmit(newParticipantForm)"
  cForm>
  <label>Nickname</label>
  <c-input-group class="mb-2 has-validation">
    <input
      required
      [ngModel]="newParticipant.nickname"
      name="nickname"
      type="text"
      cFormControl
      placeholder="Nickname"/>
    <c-form-feedback [valid]="false">Nickname is required!</c-form-feedback>
  </c-input-group>
  <label>Name and Surname <span class="text-muted small">(Optional)</span></label>
  <c-input-group class="mb-2">
    <input
      name="name"
      #name="ngModel"
      [ngModel]="newParticipant.name"
      cFormControl
      placeholder="Name"/>
    <input
      name="surname"
      #surname="ngModel"
      [ngModel]="newParticipant.surname"
      cFormControl
      placeholder="Surname"/>
    <c-form-feedback class="" *ngIf="(!name.valid || !surname.valid)" [valid]="false">
      <span class="me-2" *ngIf="!name.valid">Name is required!</span>
      <span *ngIf="!surname.valid">Surname is required!</span>
    </c-form-feedback>
  </c-input-group>
  <label>Birthday <span class="text-muted small">(Optional)</span></label>
  <c-input-group class="mb-2 has-validation">
    <input
      minlength="6"
      [ngModel]="newParticipant.birthday"
      name="birthday"
      cFormControl
      [max]="getBirthdayMax()"
      type="date"/>
  </c-input-group>
  <label>Gender <span class="text-muted small">(Optional)</span></label>
  <c-input-group class="mb-2 has-validation">
    <select
      [ngModel]="newParticipant.sex"
      name="sex"
      cSelect>
      <option value="">None</option>
      <option value="men">Men</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </c-input-group>
  <label>Notes <span class="text-muted small">(Optional)</span></label>
  <c-input-group class="mb-2 has-validation">
        <textarea
          [ngModel]="newParticipant.description"
          name="description"
          cFormControl>
        </textarea>
  </c-input-group>
</form>
