<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:user'" />
                </span>
                <input autoComplete="given-name" cFormControl placeholder="Name" />
                <input autoComplete="family-name" cFormControl placeholder="Surname" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText class=""><strong>@</strong></span>
                <input autoComplete="email" type="email" cFormControl placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:lock'" />
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:lock'" />
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success">Create Account</button>
              </div>
              <div class="d-grid pt-4">
                <button cButton class="px-0" color="link" routerLink="/auth/login">
                  Already have an account?
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
