<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="fixed-top text-end mx-5 mt-3">
      <app-select-language />
    </c-row>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form
              #registerForm="ngForm"
              novalidate
              [validated]="validated"
              (ngSubmit)="onSubmit(registerForm)"
              cForm>
              <h1>{{Translations.register | translation}}</h1>
              <p class="text-medium-emphasis">{{Translations.createAccountMessage | translation}}</p>
              <c-input-group class="mb-3 has-validation">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:user'" />
                </span>
                <input
                  required
                  name="name"
                  #name="ngModel"
                  ngModel
                  autoComplete="given-name"
                  cFormControl
                  [placeholder]="Translations.name | translation | titlecase"
                />
                <input
                  required
                  name="surname"
                  #surname="ngModel"
                  ngModel
                  autoComplete="family-name"
                  cFormControl
                  [placeholder]="Translations.surname | translation | titlecase"
                />
                <c-form-feedback class="" *ngIf="(!name.valid || !surname.valid)" [valid]="false">
                  <span class="me-2" *ngIf="!name.valid">{{Translations.inputErrors.name | translation}}</span>
                  <span *ngIf="!surname.valid">{{Translations.inputErrors.surname | translation}}</span>
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3 has-validation" >
                <span cInputGroupText class=""><strong class="px-1">@</strong></span>
                <input
                  required
                  ngModel
                  name="email"
                  autoComplete="email"
                  type="email"
                  email
                  cFormControl
                  [placeholder]="Translations.email | translation | titlecase"
                />
                <c-form-feedback [valid]="false">{{Translations.inputErrors.email | translation}}</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3 has-validation">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:lock'" />
                </span>
                <input
                  required
                  minlength="6"
                  ngModel
                  name="password"
                  type="password"
                  autoComplete="new-password"
                  cFormControl
                  placeholder="Password"
                  #password="ngModel"
                  [placeholder]="Translations.password | translation | titlecase"
                />
                <c-form-feedback [valid]="false">{{Translations.inputErrors.password | translation}}</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3 has-validation">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:lock'" />
                </span>
                <input
                  required
                  minlength="6"
                  ngModel
                  name="rePassword"
                  autoComplete="new-password"
                  cFormControl
                  [placeholder]="Translations.repassword | translation"
                  #rePassword="ngModel"
                  type="password"
                />
                <c-form-feedback  [valid]="password.value == rePassword.value">{{Translations.inputErrors.repassword | translation}}</c-form-feedback>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit">{{Translations.create.account | translation}}</button>
              </div>
              <div class="d-grid pt-4">
                <button cButton class="px-0" color="link" routerLink="/auth/login">
                  {{Translations.alreadyAccount | translation}}
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
