<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form
              #registerForm="ngForm"
              novalidate
              [validated]="validated"
              (ngSubmit)="onSubmit(registerForm)"
              cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3 has-validation">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:user'" />
                </span>
                <input
                  required
                  name="name"
                  #name="ngModel"
                  ngModel
                  autoComplete="given-name"
                  cFormControl
                  placeholder="Name" />
                <input
                  required
                  name="surname"
                  #surname="ngModel"
                  ngModel
                  autoComplete="family-name"
                  cFormControl
                  placeholder="Surname" />
                <c-form-feedback class="" *ngIf="(!name.valid || !surname.valid)" [valid]="false">
                  <span class="me-2" *ngIf="!name.valid">Name is required!</span>
                  <span *ngIf="!surname.valid">Surname is required!</span>
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3 has-validation" >
                <span cInputGroupText class=""><strong>@</strong></span>
                <input
                  required
                  ngModel
                  name="email"
                  autoComplete="email"
                  type="email"
                  email
                  cFormControl
                  placeholder="Email" />
                <c-form-feedback [valid]="false">Wrong email format!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3 has-validation">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:lock'" />
                </span>
                <input
                  required
                  minlength="6"
                  ngModel
                  name="password"
                  autoComplete="new-password"
                  cFormControl
                  placeholder="Password"
                  #password="ngModel"
                  type="password" />
                <c-form-feedback [valid]="false">The password must have at least 6 letters!</c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3 has-validation">
                <span cInputGroupText>
                  <iconify [icon]="'mdi:lock'" />
                </span>
                <input
                  required
                  minlength="6"
                  ngModel
                  name="rePassword"
                  autoComplete="new-password"
                  cFormControl
                  placeholder="Repeat password"
                  #rePassword="ngModel"
                  type="password" />
                <c-form-feedback  [valid]="password.value == rePassword.value">The passwords must match!</c-form-feedback>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit">Create Account</button>
              </div>
              <div class="d-grid pt-4">
                <button cButton class="px-0" color="link" routerLink="/auth/login">
                  Already have an account?
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
