<c-dropdown>
        <img cDropdownToggle
             class="shadow-md overflow-hidden"
             role="button"
             alt="{{currentLang | getLanguageString}}"
             src="../../../../assets/img/flags/{{currentLang}}.svg"
             style="width: 20px;">
    <div cDropdownMenu
         class="my-1 dropdown-menu dropdown-menu-right">
        <button cDropdownItem *ngFor="let language of availableLangs" (click)="selectLanguage(language)"
                class="rounded d-flex text-center"
        >
            <img class="mx-0 shadow-md border" src="../../../../assets/img/flags/{{language}}.svg"
                 style="width: 20px; border-radius: 100%;"
                 alt="{{language | getLanguageString}}">
                <span class="small ml-2 mt-auto mb-auto">{{language | getLanguageString}}</span>
        </button>
    </div>
</c-dropdown>
