<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/images/logo_full.svg',
      width: 250,
      height: 46,
      alt: 'FEL CVUT Logo'
    }"
    [brandNarrow]="{
      src: 'assets/images/logo.svg',
      width: 46,
      height: 46,
      alt: 'CVUT Logo'
    }"
    routerLink="./"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav
      class="text-capitalize"
      [navItems]="navItems"
      dropdownMode="close"
    />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>


<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">


  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />


  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet/>
    </c-container>
  </div>


</div>
