<c-modal size="lg" alignment="center" [scrollable]="true" [visible]="open" (visibleChange)="visibleChange($event)">

  <c-modal-header>
    <h5 cModalTitle>
      <iconify size="lg" icon="cil-gamepad"/>
      {{Translations.add.application | translation}}
    </h5>
    <button (click)="visibleChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-application-form *ngIf="open" [newApplication]="newApplication" [submit]="submitForm" (onSubmitForm)="onSubmitForm($event)"  />
  </c-modal-body>
  <c-modal-footer>
    <button (click)="visibleChange(false)" cButton color="secondary">
      {{Translations.Actions.close | translation | titlecase}}
    </button>
    <button cButton color="primary" (click)="onSubmit()">{{Translations.Actions.add | translation | titlecase}}</button>
  </c-modal-footer>
</c-modal>
