<c-modal size="lg" alignment="center" [scrollable]="true" [visible]="open" (visibleChange)="visibleChange($event)">

  <c-modal-header>
    <h5 cModalTitle>
      <iconify size="lg" icon="mdi:user-outline"/>
      {{Translations.add.participant | translation}}
    </h5>
    <button (click)="visibleChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-participant-form *ngIf="open" [newParticipant]="newParticipant" [submit]="submitForm" (onSubmitForm)="onSubmitForm($event)"/>
    <c-alert *ngIf="error" color="danger">{{error}}</c-alert>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="visibleChange(false)" cButton color="secondary">
      {{Translations.Actions.close | translation | titlecase}}
    </button>
    <button cButton color="primary" (click)="onSubmit()">{{Translations.Actions.add | translation | titlecase}}</button>
  </c-modal-footer>
</c-modal>

