<c-card class="d-flex flex-grow-1">
  <c-card-body class="text-center d-flex flex-column flex-grow-1">
    <h4>{{organisation.name}}</h4>
    <span class="h5">{{Translations.code | translation | titlecase}} | <span class="text-muted">{{organisation.code}}</span></span>
    <c-button-group class="mt-auto">
      <button class="btn btn-secondary" [disabled]="organisation.id === selectedOrganisation.id" (click)="selectOrganisation()">{{Translations.Actions.select | translation | titlecase}}</button>
      <button class="btn btn-primary" (click)="goToOrganisation()">{{Translations.Actions.detail | translation | titlecase}}</button>
    </c-button-group>

  </c-card-body>
</c-card>
