<c-container *ngIf="participant">
  <div class="d-flex flex-row align-items-center justify-content-between mb-2">
    <h2 class="m-0">{{Translations.edit.participant | translation}}</h2>
  </div>
  <c-row>
    <c-col>
      <c-card class="h-100">
        <c-card-body class="text-center h-100">
          <h5>{{Translations.profilePhoto | translation}}</h5>
          <ng-container *ngIf="editImage == false; else changeImage">
            <img class="custom_img img-fluid rounded" alt="Profile photo" cImg rounded [src]="getProfileImage()"/>
          </ng-container>
          <ng-template #changeImage>
            <input
              (change)="onFileSelected($event)"
              required
              cFormControl
              accept="image/jpeg"
              type="file"/>
          </ng-template>
          <c-row class="justify-content-center">
            <button class="btn btn-secondary mt-2 w-auto" (click)="clickChangeImage()">{{Translations.Actions.change | translation | titlecase}}</button>
          </c-row>
        </c-card-body>
        <c-card-footer class="text-center bg-white">
          <button class="btn btn-danger mt-auto" (click)="openConfirmModal()" >{{Translations.delete.participant | translation}}</button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col [xs]="8">
      <c-card class="h-100">
        <c-card-body>
          <app-participant-form [newParticipant]="participant" [submit]="submitForm" (onSubmitForm)="onSubmitForm($event)"></app-participant-form>
        </c-card-body>
        <c-card-footer class="d-flex justify-content-between bg-white">
          <button class="btn btn-secondary" (click)="cancel()">{{Translations.Actions.cancel | translation | titlecase}}</button>
          <button class="btn btn-primary" (click)="onSaveButtonClick()" >{{Translations.Actions.save | translation | titlecase}}</button>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>

  <app-confirmation-modal
    [open]="deleteModalOpen"
    [title]="Translations.delete.participant | translation | titlecase"
    [message]="getDeleteMessage()"
    [confirmButtonText]="Translations.Actions.delete | translation | titlecase"
    (confirm)="deleteParticipant()"
    (cancel)="closeConfirmModal()"
    [color]="'danger'"/>
</c-container>
