<c-container fluid>
  <div class="mb-3" *ngIf="organisation; else loading">
    <div class="d-flex flex-row align-items-center justify-content-between">
      <h2>{{ organisation.name }}</h2>
      <div *ngIf="user && user.superAdmin">
        <button class="btn btn-danger btn-sm" (click)="openConfirmModal()">
          <iconify icon="mdi:trash"/>
          {{ Translations.Actions.delete | translation | titlecase }}
        </button>
      </div>
    </div>
    <span class="h5">{{ Translations.code | translation | titlecase }} | <span class="text-muted">{{ organisation.code }}</span>
      <iconify (click)="copyCode(organisation.code)" class="ms-2 pointer h-75" icon="zondicons:copy"/>
    </span>
  </div>

  <c-row>
    <ng-container *ngIf="(employee && employee.organisationId == organisation.id && employee.role.name === RoleNames.ADMIN) || user.superAdmin">
      <div class="d-flex flex-row align-items-center justify-content-between mb-2">
        <h5 class="m-0">{{ Translations.employees | translation | titlecase }}</h5>
        <button class="btn btn-primary btn-sm" (click)="invitationModalVisibleChange(true)">
          <iconify icon="mdi:invite" class="pe-1"/>
          {{ Translations.inviteEmployee | translation }}
        </button>
      </div>
    </ng-container>

    <c-col *ngIf="employees; else loading">
      <c-card>
        <c-card-body>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>{{ Translations.email | translation | titlecase }}</th>
                <th>{{ Translations.name | translation | titlecase }}</th>
                <th>{{ Translations.surname | translation | titlecase }}</th>
                <th>{{ Translations.role | translation | titlecase }}</th>
                <th>{{ Translations.participants | translation | titlecase }}</th>
                <th
                  *ngIf="(employee && employee.role.name === RoleNames.ADMIN) || user.superAdmin">{{ Translations.actions | translation | titlecase }}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let emp of employees">
                <td nowrap>{{ emp.user.email }}</td>
                <td nowrap>{{ emp.user.name }}</td>
                <td nowrap>{{ emp.user.surname }}</td>
                <td nowrap>
                  <ng-container
                    *ngIf="((employee && employee.role.name === RoleNames.ADMIN) || user.superAdmin) && emp.userId !== user.id; else notAdmin">
                    <select class="form-select form-select-xs" [(ngModel)]="emp.role.name" (ngModelChange)="changeUserRole(emp, $event)">
                      <option [ngValue]="RoleNames.ADMIN">{{ RoleNames.ADMIN }}</option>
                      <option [ngValue]="RoleNames.EMPLOYEE">{{ RoleNames.EMPLOYEE }}</option>
                    </select>
                  </ng-container>
                  <ng-template #notAdmin>
                    {{ emp.role.name }}
                  </ng-template>
                </td>
                <td nowrap>
                  {{ emp.participantIds.length }}
                </td>
                <td nowrap *ngIf="(employee && employee.role.name === RoleNames.ADMIN) || user.superAdmin">
                  <iconify (click)="editEmployeeParticipants(emp)" [cTooltip]="Translations.Actions.addParticipants | translation"
                           cTooltipPlacement="top" class="pointer me-2" icon="mdi:add"/>
                  <iconify *ngIf="emp.userId !== user.id"
                           (click)="openDeleteEmployeeModal(emp)"
                           [cTooltip]="Translations.Actions.deleteEmployee | translation | titlecase"
                           cTooltipPlacement="top"
                           class="text-danger pointer" icon="mdi:trash"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <ng-container *ngIf="(employee && employee.organisationId == organisation.id && employee.role.name === RoleNames.ADMIN) || user.superAdmin">
    <c-row class="mt-3">
      <div class="d-flex flex-row align-items-center justify-content-between mb-2">
        <h5 class="m-0">{{ Translations.invitations | translation | titlecase }}</h5>
      </div>

      <c-col *ngIf="invitations; else loading">
        <c-card>
          <c-card-body>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>{{ Translations.email | translation | titlecase }}</th>
                  <th>{{ Translations.role | translation | titlecase }}</th>
                  <th>{{ Translations.createdAt | translation | titlecase }}</th>
                  <th class="text-center">{{ Translations.valid | translation | titlecase }}</th>
                  <th>{{ Translations.code | translation | titlecase }}</th>
                  <th
                    *ngIf="(employee && employee.role.name === RoleNames.ADMIN) || user.superAdmin">{{ Translations.actions | translation | titlecase }}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let inv of invitations">
                  <td nowrap>{{ inv.email }}</td>
                  <td nowrap>{{ inv.role }}</td>
                  <td nowrap>{{ toLocaleTime(inv.time) }}</td>
                  <td nowrap class="text-center">
                    <ng-container *ngIf="isExpired(inv.time); else valid">
                      <iconify [cTooltip]="Translations.needToRefresh | translation" cTooltipPlacement="top" class="text-danger"
                               icon="gridicons:cross-circle"/>
                    </ng-container>
                  </td>
                  <td nowrap>{{ inv.code }}
                    <iconify (click)="copyCode(inv.code)" class="ms-2 pointer h-75" icon="zondicons:copy"/>
                  </td>
                  <td nowrap *ngIf="(employee && employee.role.name === RoleNames.ADMIN) || user.superAdmin">
                    <iconify (click)="refreshInvitation(inv.id)" [cTooltip]="Translations.Actions.refresh | translation | titlecase"
                             cTooltipPlacement="top" class="pointer me-2" icon="mdi:refresh"/>
                    <iconify (click)="openDeleteModal(inv)" [cTooltip]="Translations.Actions.delete | translation | titlecase" cTooltipPlacement="top"
                             class="text-danger pointer" icon="mdi:trash"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </ng-container>
</c-container>

<app-new-invitation-modal [open]="openInvitationModal" (visibleChanged)="invitationModalVisibleChange($event)"/>
<app-confirmation-modal
  [open]="deleteInvitationModalOpen"
  [title]="Translations.delete.invitation | translation"
  [message]="getDeleteInvitationMessage()"
  [confirmButtonText]="Translations.Actions.delete | translation | titlecase"
  (confirm)="deleteInvitation()"
  (cancel)="closeDeleteModal()"
  [color]="'danger'"/>

<app-confirmation-modal
  [open]="deleteEmployeeModalOpen"
  [title]="Translations.delete.employee | translation"
  [message]="getDeleteEmployeeMessage()"
  [confirmButtonText]="Translations.Actions.delete | translation | titlecase"
  (confirm)="deleteEmployee()"
  (cancel)="closeDeleteEmployeeModal()"
  [color]="'danger'"/>

<app-edit-employee-participants-modal
  [open]="openEditParticipantsModal"
  [employee]="editEmployee"
  [allParticipants]="allParticipants"
  (visibleChanged)="openEditParticipantsModal = $event"
  (newAssignedParticipants)="updateAssignment($event)"
/>


<app-confirmation-modal
  [open]="deleteModalOpen"
  [title]="Translations.delete.organisation | translation | titlecase"
  [message]="getDeleteMessage()"
  [confirmButtonText]="Translations.Actions.delete | translation | titlecase"
  (confirm)="deleteApplication()"
  (cancel)="closeConfirmModal()"
  [color]="'danger'"/>


<ng-template #valid>
  <iconify class="text-success" icon="codicon:pass-filled"/>
</ng-template>

<ng-template #loading>
  <app-loading-placeholder/>
</ng-template>
