<c-container>
  <c-row>
    <div class="d-flex flex-row align-items-center justify-content-between mb-2">
      <h2 class="m-0 text-capitalize">{{Translations.activities | translation}}</h2>
      <button class="btn btn-primary btn-sm" (click)="modalVisibleChange(true)">
        <iconify icon="mdi:add"/>
        {{Translations.add.activity | translation}}</button>
    </div>
  </c-row>
  <c-row>
    <c-card>
      <c-card-body>
        <table cTable>
          <thead>
          <tr>
            <th></th>
            <th class="text-capitalize">{{Translations.time | translation}}</th>
            <th class="text-capitalize">{{Translations.participant | translation}}</th>
            <th class="text-capitalize">{{Translations.application | translation}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let activity of activities">
            <td><iconify class="text-primary pointer" icon="bxs:detail" (click)="goToDetail(activity.id)"/></td>
            <td>{{activity.time}}</td>
            <td>{{getParticipant(activity)}}</td>
            <td>{{getApplication(activity)}}</td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-row>
</c-container>

<app-new-activity-modal [open]="openModal" (visibleChanged)="modalVisibleChange($event)"/>
