<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center text-center">
      <h2>You don't have any organisations</h2>
      <c-col class="col-md-6 col-12 mb-2 mb-md-0">
        <c-card class="align-items-center p-4">
          <h4>Create organisation</h4>
          <form #createForm="ngForm"
                cForm
                [validated]="createValidated"
                (ngSubmit)="onCreateSubmit(createForm)">
            <div class="mb-2">
              <input
                name="name"
                ngModel
                cFormControl
                type="text"
                placeholder="Organisation Name"
                required
              />
            </div>
            <c-row *ngIf="createError">
              <c-col>
                <c-alert class="py-2" color="danger">{{createError}}</c-alert>
              </c-col>
            </c-row>
            <c-row>
              <button class="btn btn-primary" type="submit">Create</button>
            </c-row>
          </form>
        </c-card>
      </c-col>
      <c-col class="col-md-6 col-12">
        <c-card class="align-items-center p-4">
          <h4>Join to organisation</h4>
          <form #joinForm="ngForm"
                cForm
                [validated]="joinValidated"
                (ngSubmit)="onJoinSubmit(joinForm)">
            <div class="mb-2">
              <input
                name="code"
                ngModel
                cFormControl
                type="text"
                placeholder="Invitation code"
                required
              />
            </div>
            <c-row *ngIf="joinError">
              <c-col>
                <c-alert class="py-2" color="danger">{{joinError}}</c-alert>
              </c-col>
            </c-row>
            <c-row>
              <button class="btn btn-primary" type="submit">Join</button>
            </c-row>
          </form>
        </c-card>
      </c-col>
      <p class="mt-4 link-secondary pointer w-auto" (click)="goToLogin()" >Go to Login page</p>
    </c-row>
  </c-container>
</div>
