<form
  #applicationForm="ngForm"
  novalidate
  [validated]="validated"
  (ngSubmit)="onSubmit(applicationForm)"
  cForm>
  <label>{{Translations.name | translation | titlecase}}</label>
  <c-input-group class="mb-2 has-validation">
    <input
      required
      [(ngModel)]="newApplication.name"
      name="name"
      type="text"
      cFormControl
      [placeholder]="Translations.name | translation | titlecase"
    />
    <c-form-feedback [valid]="false">{{Translations.inputErrors.name | translation}}</c-form-feedback>
  </c-input-group>
  <label>{{Translations.identifier | translation | titlecase}}</label>
  <c-input-group class="mb-2 has-validation">
    <input
      required
      [(ngModel)]="newApplication.identifier"
      name="identifier"
      type="text"
      cFormControl
      [placeholder]="Translations.identifier | translation | titlecase"
    />
    <c-form-feedback [valid]="false">{{Translations.inputErrors.identifier | translation}}</c-form-feedback>
  </c-input-group>
  <label>{{Translations.settings | translation | titlecase}} <span class="text-muted small">({{Translations.optional | translation | titlecase}})</span></label>
  <c-input-group class="mb-2 has-validation">
        <textarea
          [(ngModel)]="newApplication.setting"
          name="description"
          cFormControl>
        </textarea>
  </c-input-group>
</form>
