<c-card>
  <c-card-body>
    <c-row>
        <p class="m-0"><span class="fw-bolder">{{Translations.numbers.activities | translation}} | </span><span class="text-capitalize">{{activities.length}}</span></p>
        <p class="m-0"><span class="fw-bolder">{{Translations.times.totalDuration | translation}} | </span>{{totalDuration}}</p>
        <p class="m-0"><span class="fw-bolder">{{Translations.times.avgDuration | translation}} | </span>{{avgDuration}}</p>
    </c-row>
  </c-card-body>
</c-card>
