<c-card>
  <c-card-body>
    <c-row>
      <c-col class="text-nowrap"><p class="m-0"><span class="fw-bolder">{{Translations.numbers.activities | translation}} | </span><span class="text-capitalize">{{activities.length}}</span></p></c-col>
      <c-col class="text-nowrap"><p class="m-0"><span class="fw-bolder">{{Translations.times.totalDuration | translation}} | </span>{{totalDuration}}</p></c-col>
      <c-col class="text-nowrap"><p class="m-0"><span class="fw-bolder">{{Translations.times.avgDuration | translation}} | </span>{{avgDuration}}</p></c-col>
      <c-col class="text-nowrap" *ngIf="lastActivityBefore !== ''"><p class="m-0"><span class="fw-bolder">{{Translations.times.lastActivityBefore | translation}} | </span>{{lastActivityBefore}}</p></c-col>
    </c-row>
  </c-card-body>
</c-card>
