<c-modal size="lg" alignment="center" [scrollable]="true" [visible]="open" (visibleChange)="visibleChange($event)">

  <c-modal-header>
    <h5 cModalTitle>
      <iconify size="lg" icon="cil:bolt"/>
      Invite user
    </h5>
    <button (click)="visibleChange(false)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-new-invitation-form *ngIf="open" [newInvitation]="newInvitation" [submit]="submitForm" (onSubmitForm)="onSubmitForm($event)" />
    <c-alert *ngIf="error" color="danger">{{error}}</c-alert>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="visibleChange(false)" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="onSubmit()">Invite</button>
  </c-modal-footer>
</c-modal>
